.section-01 {
  background-image: url('~assets/images/pages/home/section-01/bim.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
