.section-01 {
  position: relative;
  background-image: url('~assets/images/pages/home/section-01/bim.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    align-items: flex-start;
  }

  .title {
    color: #ffffff;
    font-size: 5rem;
    font-family: 'Playfair Display';
    font-weight: 700;
    line-height: 1.1;
  }
  .subtitle {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: 'ProximaNova';
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-bottom: 4rem;
  }
  .line {
    background-color: rgba(#ffffff, 0.5);
    width: 15rem;
    height: 0.125rem;
    margin: 3rem auto 5rem auto;
  }
  button {
    font-size: 0.75rem;
    font-family: 'Alegreya';
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    border-radius: unset;
    padding: 0.75rem 3rem;
  }

  .deco-01 {
    position: absolute;
    bottom: 0;
    width: 100%
  }
}
