.section-04 {
  background-image: url('~assets/images/pages/home/section-04/bim.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
