header {
  .navbar {
    background-color: rgba(86, 83, 76, 1);

    .navbar-brand {
      margin-right: 4.5rem;
    }

    .nav-item {
      position: relative;
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      &::after {
        content: '~';
        position: absolute;
        top: 50%;
        right: -0.3125rem;
        transform: translateY(-50%);
        color: #f4f4f4;
        font-size: 0.875rem;
      }
      &:last-child {

        &::after {
          content: '';
        }
      }

      .nav-link {
        color: #f4f4f4;
        font-size: 0.875rem;
        font-family: 'Alegreya';

        &:hover, .active {
          color: #ffffff;
        }
      }
    }

    .icon {
      margin-left: 1rem;
    }
  }
}
footer {
  background-color: #f3f1e9;
  padding-top: 5rem;
  padding-bottom: 5rem;

  img {

    @media screen and (max-width: 600px) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .nav {
    border-top: 0.0625rem solid #56534c;
    border-bottom: 0.0625rem solid #56534c;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    .nav-item {
      position: relative;

      &::after {
        content: '~';
        color: #56534c;
        position: absolute;
        top: 45%;
        right: -0.3125rem;
        transform: translateY(-50%);
      }
      &:last-child {

        &::after {
          content: '';
        }
      }

      .nav-link {
        color: #56534c;
        font-size: 0.875rem;
        font-family: 'Alegreya';
        text-transform: uppercase;
        letter-spacing: 0.125rem;

        &:hover {
          color: darken(#56534c, 15%);
          text-decoration: underline;
        }
      }
    }
  }
}
